<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh sách</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Thống kê</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Danh sách khách hàng
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Id</th>
                            <th>Ngày nhận phòng</th>
                            <th>Ngày trả phòng</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Id</th>
                            <th>Ngày nhận phòng</th>
                            <th>Ngày trả phòng</th>
                            <th>Email</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Hoàng Long</td>
                            <td>101</td>
                            <td>01/10/2023 12:00:00 AM</td>
                            <td>05/10/2023 12:00:00 AM</td>
                            <td>Long@g.com</td>
                        </tr>
                        <tr>
                            <td>Hoàng Phúc</td>
                            <td>102</td>
                            <td>02/10/2023 12:00:00 AM</td>
                            <td>06/10/2023 12:00:00 AM</td>
                            <td>Phuc@g.com</td>
                        </tr>
                        <tr>
                            <td>Quốc Duy</td>
                            <td>103</td>
                            <td>03/10/2023 12:00:00 AM</td>
                            <td>07/10/2023 12:00:00 AM</td>
                            <td>Duy@g.com</td>
                        </tr>
                        <tr>
                            <td>Thu Thúy</td>
                            <td>104</td>
                            <td>04/10/2023 12:00:00 AM</td>
                            <td>08/10/2023 12:00:00 AM</td>
                            <td>Thuy@g.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>